<div style="margin:40px;">

  <p>New version <%= @version %> created for document
    <i><%= @title %></i> in bucket <i><%= @bucket %></i>, archive
    <i><%= @archive_name %></i> (id = <%= @doc_id %>, characters = <%= @characters %>)</p>

</div>
