#asciidoc h1 {margin-bottom: 0.75em}
#asciidoc h2 {margin-bottom: 0.5em}
#asciidoc h3 {margin-bottom: 0.25em}
#asciidoc {line-height: 1.2em}
#asciidoc p {line-height: 1.2em}
#asciidoc p { margin-bottom: 1em;}
#asciidoc pre { margin-left: 30px; }

#asciidoc {
  font-size:0.9em;
  margin: 1in;
  padding-bottom:2em;
  white-space: normal;

}
